body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  overflow: hidden;
  border: 1px solid;
  max-width: fit-content;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.overlay img {
  filter: blur(4px);
}

.slider {
  width: 5px;
  position: absolute;
  height: 100%;
  top: 0;
  opacity: 0.1;
  border-left: 2px solid black;
  border-right: 2px solid black;
  cursor: ew-resize;

}